name: Release

on:
    push:
        branches:
            - main

permissions: write-all

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Semantic Release
              id: release
              uses: cycjimmy/semantic-release-action@v4
              with:
                  semantic_version: 24.2.1
                  extra_plugins: |
                      @semantic-release/release-notes-generator
                      @semantic-release/commit-analyzer
                      @semantic-release/changelog
                      @semantic-release/github
                      @semantic-release/git
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # DON'T NEED THIS SINCE IT IS A PUBLIC REPO
    # deploy:
    #     name: Deploy
    #     runs-on: ubuntu-latest
    #     needs: release

    #     steps:
    #         - name: Trigger Coolify Deployment
    #           run: |
    #               curl --request GET '${{ secrets.COOLIFY_VPS_WEBHOOK }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_VPS_WEBHOOK_BEAR }}'
